    {{#each beersArr}}
        <img src="{{image_url}}" alt="">
        <a class="name" href="/detailed">{{name}}</a>
         {{!-- NAME</a>GET THE BEER ID --}}
        <p class="tagline">{{tagline}}</p>
        <p>Description: {{description}}</p>
        
    {{/each}}