body {
    background-color: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #2081c3;
}

nav {
    background-color: #2081c3;
    color: #f7f9f9;
    height: 30px;
}

nav a:visited {
    color: #f7f9f9;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main img {
    width: 500px;
    margin: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.beer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin: 20px;
}

.beer img {
    height: 200px;
    width: 70px;
    margin: 20px;
}

footer {
    background-color: #0a2c42;
    color: #f7f9f9;
    position: relative;
    bottom: 0px;
    height: 30px;
}

.tagline {
    color: #bfbfbf;
}

.name {
    font-size: 1.2em;
    font-weight: 400;
}